<div class="container" ng-controller="GratitudeCtrl">
  <div class="row" id="gratitude_input">
    <textarea class="col-xs-12" id="gratitude_input_area" placeholder="I am grateful for...">
    </textarea>
    <p><a id="gratitude_submit" class="btn btn-warning col-xs-12" href="#">Add Gratitude</a></p>
  </div>

  <div id="gratitude_feeds_container">
    <ul id="gratitude_feeds">
      <li>
      <div class="message">I am grateful for ... </div>
      <div class="time">Today at 9pm </div>
      </liv>
    </ul>
  </div>


</div>
